/**
 * mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
 * |    AHG |   APARIUM
 * |    AHG |   GOOGLE SITES CUSTOM CSS
 * |    AHG |   https://raw.githubusercontent.com/aparium/fonts/main/ahg-google-sites.css
 * |    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
 *
 * @format
 */

/*
|    AHG |   LINK THE STYLE SHEET

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/aparium/fonts/ahg-google-sites.css">

*/

/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */
/* APH |  APARIUM BRAND FONTS                                                                                  */
/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
|    AHG | Freight-Big                  
   mmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

@font-face {
  font-display: swap;
  font-family: "Freight Big";
  font-style: normal;
  font-stretch: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-light.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-light.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-light.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Freight Big";
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-book.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-book.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-book.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-book.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-book.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Freight Big";
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-medium.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-medium.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-medium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-medium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-medium.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Freight Big";
  font-style: normal;
  font-stretch: normal;
  font-weight: 600;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-semibold.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-semibold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-semibold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-semibold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-semibold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Freight Big";
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-bold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Freight Big";
  font-style: normal;
  font-stretch: normal;
  font-weight: 900;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-black.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-black.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-black.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-black.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-black.ttf") format("truetype");
}

.freight-big-light {
  font-family: "Freight Big", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.freight-big-regular {
  font-family: "Freight Big", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.freight-big-mediumn {
  font-family: "Freight Big", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.freight-big-semibold {
  font-family: "Freight Big", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.freight-big-bold {
  font-family: "Freight Big", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.freight-big-black {
  font-family: "Freight Big", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
|    AHG | Freight-Sans                  
   mmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

@font-face {
  font-display: swap;
  font-family: "Freight Sans";
  font-style: normal;
  font-stretch: normal;
  font-weight: 100;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-thin.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-thin.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-thin.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-thin.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-thin.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Freight Sans";
  font-style: normal;
  font-stretch: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-light.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-light.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-light.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Freight Sans";
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-book.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-book.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-book.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-book.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-book.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Freight Sans";
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-medium.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-medium.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-medium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-medium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-medium.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Freight Sans";
  font-style: normal;
  font-stretch: normal;
  font-weight: 600;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-semibold.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-semibold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-semibold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-semibold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-semibold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Freight Sans";
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-bold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Freight Sans";
  font-style: normal;
  font-stretch: normal;
  font-weight: 900;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-black.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-black.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-black.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-black.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-black.ttf") format("truetype");
}

.freight-text-thin {
  font-family: "Freight Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.freight-text-light {
  font-family: "Freight Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.freight-text-regular {
  font-family: "Freight Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.freight-text-mediumn {
  font-family: "Freight Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.freight-text-semibold {
  font-family: "Freight Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.freight-text-bold {
  font-family: "Freight Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.freight-text-black {
  font-family: "Freight Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
|    AHG | Freight-Text               
   mmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

@font-face {
  font-display: swap;
  font-family: "Freight Text";
  font-style: normal;
  font-stretch: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-light.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-light.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-light.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Freight Text";
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-book.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-book.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-book.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-book.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-book.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Freight Text";
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-medium.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-medium.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-medium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-medium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-medium.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Freight Text";
  font-style: normal;
  font-stretch: normal;
  font-weight: 600;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-semibold.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-semibold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-semibold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-semibold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-semibold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Freight Text";
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-bold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Freight Text";
  font-style: normal;
  font-stretch: normal;
  font-weight: 900;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-black.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-black.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-black.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-black.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/freight-text/freight-text-black.ttf") format("truetype");
}

.freight-text-light {
  font-family: "Freight Text", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.freight-text-regular {
  font-family: "Freight Text", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.freight-text-mediumn {
  font-family: "Freight Text", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.freight-text-semibold {
  font-family: "Freight Text", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.freight-text-bold {
  font-family: "Freight Text", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.freight-text-black {
  font-family: "Freight Text", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
|    AHG | Playfair (Fallback Font)                  
   mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-regular.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-regular.ttf") format("truetype"),
    url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-regular.svg#PlayfairDisplay") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-500.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-500.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-500.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-500.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-500.ttf") format("truetype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-500.svg#PlayfairDisplay") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-600.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-600.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-600.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-600.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-600.ttf") format("truetype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-600.svg#PlayfairDisplay") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-700.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-700.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-700.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-700.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-700.ttf") format("truetype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-700.svg#PlayfairDisplay") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 800;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-800.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-800.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-800.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-800.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-800.ttf") format("truetype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-800.svg#PlayfairDisplay") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-900.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-900.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-900.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-900.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-900.ttf") format("truetype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/playfair-display-900.svg#PlayfairDisplay") format("svg");
}

.playfair-display-regular {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-mediumn {
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.playfair-display-semibold {
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.playfair-display-bold {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.playfair-display-extrabold {
  font-family: "Playfair Display", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.playfair-display-black {
  font-family: "Playfair Display", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
|    AHG | Open Sans (Fallback Font)                  
   mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.ttf") format("truetype"),
    url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.svg#OpenSans") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.ttf") format("truetype"),
    url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.svg#OpenSans") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.ttf") format("truetype"),
    url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.svg#OpenSans") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.ttf") format("truetype"),
    url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.svg#OpenSans") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-700.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-700.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-700.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-700.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-700.ttf") format("truetype"),
    url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-700.svg#OpenSans") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-800.eot");
  src: url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-800.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-800.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-800.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-800.ttf") format("truetype"),
    url("https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-800.svg#OpenSans") format("svg");
}

.open-sans-light {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans-mediumn {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.open-sans-semibold {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.open-sans-extrabold {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm 
|    AHG | CUSTOM CSS                  
   mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

:root {
  --vh-factor: 2;
  /* Font Sizes */
  --h1-size: 3em;
  --h2-size: 5rem;
  --h3-size: 2.6em;
  --h4-size: 4rem;
  --h5-size: 3.5rem;
  --h6-size: 3rem;
  --h7-size: 2.5rem;
  --h8-size: 1.5rem;
  --s1-size: 3em;
  --s2-size: 5rem;
  --s3-size: 2.6em;
  --s4-size: 4rem;
  --s5-size: 3.5rem;
  --s6-size: 3rem;
  --s7-size: 2.5rem;
  --s8-size: 1.5rem;
  /* Custom Element Sizes */
  --hotelname-size: 4rem;
  --foldername-size: 2rem;
  --message-size: 2rem;
  --padding-scale-factor: 1;
  /* DEFAULT SCALE */
  --padding-none: 0rem;
  --padding-s: 0.5rem;
  --padding-m: 1rem;
  --padding-l: 2rem;
  --padding-xl: 4rem;
  --padding-xxl: 8rem;
  --margin-scale-factor: 1;
  /* DEFAULT SCALE */
  --margin-none: 0rem;
  --margin-s: 0.5rem;
  --margin-m: 1rem;
  --margin-l: 2rem;
  --margin-xl: 4rem;
  --margin-xxl: 8rem;
}
@media (max-width: 1024px) {
  :root {
    --padding-scale-factor: 0.85;
    /* SCALE FOR TABLETS */
  }
}
@media (max-width: 768px) {
  :root {
    --padding-scale-factor: 0.75;
    /* SCALE FOR LARGE MOBILE DEVICES */
  }
}
@media (max-width: 500px) {
  :root {
    --padding-scale-factor: 0.5;
    /* SCALE FOR SMALL MOBILE DEVICES */
  }
}
body {
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
p {
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-wrap: pretty;
  white-space: pre-wrap;
}
/* General Heading Styles */
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Freight Big", "Playfair Display", Georgia, "Times New Roman", serif;
  font-weight: 500;
  letter-spacing: -0.01em !important;
  line-height: calc(var(--vh-factor) * 1vh + 0.9em);
  scrollbar-width: none;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  text-wrap: pretty;
}
/* General Heading Styles */
.s1, .s2, .s3, .s4, .s5, .s6 {
  color: #000;
  font-family: "Freight Text", "Playfair Display", Georgia, "Times New Roman", serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: calc(var(--vh-factor) * 1vh + 0.9em);
  scrollbar-width: none;
  text-rendering: optimizeLegibility;
  text-transform: capitalize;
  text-wrap: pretty;
}
.h7, .h8 {
  color: #000;
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: calc(var(--vh-factor) * 1vh + 0.9em);
  scrollbar-width: none;
  text-rendering: optimizeLegibility;

  text-wrap: pretty;
}
p, h1, h2, h3, h4, h5, h6, .h7, .h8, .s1, .s2, .s3, .s4, .s5, .s6 {
  -webkit-hyphens: auto !important; /* Chrome, Safari */
  -moz-hyphens: manual !important;  /* Firefox (supports manual) */
  -ms-hyphens: auto !important;     /* Old IE/Edge */
  hyphens: auto !important;         /* Standard */
  overflow-wrap: break-word;        /* Forces word breaks in unsupported cases */
  word-break: break-word;           /* Fallback for legacy browsers */
}
/* Utility Classes */
.titlecase {
  text-transform: capitalize !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.lowercase {
  text-transform: lowercase !important;
}
.bold {
  font-weight: 600 !important;
}
.headline-container {
  padding-bottom: 56.25%;
  position: relative;
  display: block; /**  */
  width: 100%
}
.headline-wrapper {
  display: flex;
  height: 100%;
  width: 100%
}
.headline-wrapper .bottom,
.headline-wrapper .center,
.headline-wrapper .left,
.headline-wrapper .right {
  display: flex;
  align-items: center /**  */
}
.headline-wrapper .left {
  justify-content: flex-start;
  text-align: left
}
.headline-wrapper.right {
  align-items: center;
  justify-content: flex-end;
  text-align: right
}
.headline-wrapper.center {
  justify-content: center;
  align-items: center;
  text-align: center
}
.headline-wrapper .right { justify-content: flex-end; text-align: right }
.headline-wrapper .bottom { justify-content: flex-start; text-align: left }
.bottom,
.bottom-left,
.bottom-right,
.top,
.top-left,
.top-right { position: absolute }
.top,
.top-left,
.top-right { top: 0 }
.top-left { left: 0 }
.top-right { right: 0 }
.bottom,
.bottom-left,
.bottom-right { bottom: 0 }
.bottom-left { left: 0 }
.bottom-right { right: 0 }
.headline-flex-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%
}
.headline-flex-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
}
/* Specific Font Sizes */
h1 {font-size: var(--h1-size);}
h2 {font-size: var(--h2-size);}
h3 {font-size: var(--h3-size);}
h4 {font-size: var(--h4-size);}
h5 {font-size: var(--h5-size);}
h6 {font-size: var(--h6-size);}
.h7 {font-size: var(--h7-size);}
.h8 {font-size: var(--h8-size);}
.s1 {font-size: var(--s1-size);}
.s2 {font-size: var(--s2-size);}
.s3 {font-size: var(--s3-size);}
.s4 {font-size: var(--s4-size);}
.s5 {font-size: var(--s5-size);}
.s6 {font-size: var(--s6-size);}
.hotelname {
  font-family: "Freight Big", "Playfair Display", Georgia, "Times New Roman", serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}
.foldername,
.message {
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.hotelname {
  font-size: var(--hotelname-size);
}
.foldername {
  font-size: var(--foldername-size);
}
.message {
  font-size: var(--message-size);
}
@media (max-width: 1024px) {
  :root {
    --vh-factor: 1.5;
    --font-scale: 0.85;
  }
  h1, h2, h3, h4, h5, h6, .h7, .h8, .s1, .s2, .s3, .s4, .s5, .s6, .hotelname, .foldername, .message {line-height: calc(var(--vh-factor) * 1vh + 0.9em);}
h1 {font-size: calc(var(--h1-size) * var(--font-scale));}
h2 {font-size: calc(var(--h2-size) * var(--font-scale));}
h3 {font-size: calc(var(--h3-size) * var(--font-scale));}
h4 {font-size: calc(var(--h4-size) * var(--font-scale));}
h5 {font-size: calc(var(--h5-size) * var(--font-scale));}
h6 {font-size: calc(var(--h6-size) * var(--font-scale));}
.h7 {font-size: calc(var(--h7-size) * var(--font-scale));}
.h8 {font-size: calc(var(--h8-size) * var(--font-scale));}
.s1 {font-size: calc(var(--h1-size) * var(--font-scale));}
.s2 {font-size: calc(var(--h2-size) * var(--font-scale));}
.s3 {font-size: calc(var(--h3-size) * var(--font-scale));}
.s4 {font-size: calc(var(--h4-size) * var(--font-scale));}
.s5 {font-size: calc(var(--h5-size) * var(--font-scale));}
.s6 {font-size: calc(var(--h6-size) * var(--font-scale));}
.hotelname {font-size: calc(var(--hotelname-size) * var(--font-scale));}
.foldername {font-size: calc(var(--foldername-size) * var(--font-scale));}
.message {font-size: calc(var(--message-size) * var(--font-scale));}
}
@media (max-width: 768px) {
  :root {
    --vh-factor: 1;
    --font-scale: 0.7;
  }
  h1, h2, h3, h4, h5, h6, .h7, .h8, .s1, .s2, .s3, .s4, .s5, .s6, .hotelname, .foldername, .message {line-height: calc(var(--vh-factor) * 1vh + 0.9em);}
  h1 {font-size: calc(var(--h1-size) * var(--font-scale));}
  h2 {font-size: calc(var(--h2-size) * var(--font-scale));}
  h3 {font-size: calc(var(--h3-size) * var(--font-scale));}
  h4 {font-size: calc(var(--h4-size) * var(--font-scale));}
  h5 {font-size: calc(var(--h5-size) * var(--font-scale));}
  h6 {font-size: calc(var(--h6-size) * var(--font-scale));}
  .h7 {font-size: calc(var(--h7-size) * var(--font-scale));}
  .h8 {font-size: calc(var(--h8-size) * var(--font-scale));}
  .s1 {font-size: calc(var(--h1-size) * var(--font-scale));}
  .s2 {font-size: calc(var(--h2-size) * var(--font-scale));}
  .s3 {font-size: calc(var(--h3-size) * var(--font-scale));}
  .s4 {font-size: calc(var(--h4-size) * var(--font-scale));}
  .s5 {font-size: calc(var(--h5-size) * var(--font-scale));}
  .s6 {font-size: calc(var(--h6-size) * var(--font-scale));}
  .hotelname {font-size: calc(var(--hotelname-size) * var(--font-scale));}
  .foldername {font-size: calc(var(--foldername-size) * var(--font-scale));}
  .message {font-size: calc(var(--message-size) * var(--font-scale));}
}
@media (max-width: 500px) {
  :root {
    --vh-factor: 1;
    --font-scale: 0.4;
  }
  h1, h2, h3, h4, h5, h6, .h7, .h8, .s1, .s2, .s3, .s4, .s5, .s6, .hotelname, .foldername, .message {line-height: calc(var(--vh-factor) * 1vh + 0.9em);}
  h1 {font-size: calc(var(--h1-size) * var(--font-scale));}
  h2 {font-size: calc(var(--h2-size) * var(--font-scale));}
  h3 {font-size: calc(var(--h3-size) * var(--font-scale));}
  h4 {font-size: calc(var(--h4-size) * var(--font-scale));}
  h5 {font-size: calc(var(--h5-size) * var(--font-scale));}
  h6 {font-size: calc(var(--h6-size) * var(--font-scale));}
  .h7 {font-size: calc(var(--h7-size) * var(--font-scale));}
  .h8 {font-size: calc(var(--h8-size) * var(--font-scale));}
  .s1 {font-size: calc(var(--h1-size) * var(--font-scale));}
  .s2 {font-size: calc(var(--h2-size) * var(--font-scale));}
  .s3 {font-size: calc(var(--h3-size) * var(--font-scale));}
  .s4 {font-size: calc(var(--h4-size) * var(--font-scale));}
  .s5 {font-size: calc(var(--h5-size) * var(--font-scale));}
  .s6 {font-size: calc(var(--h6-size) * var(--font-scale));}
  .hotelname {font-size: calc(var(--hotelname-size) * var(--font-scale));}
  .foldername {font-size: calc(var(--foldername-size) * var(--font-scale));}
  .message {font-size: calc(var(--message-size) * var(--font-scale));}
}
a {
  color: #000;
  cursor: pointer;
  text-decoration: none !important;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #000;
  cursor: pointer;
  text-decoration: none !important;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.modal-dialog-title-text {
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  font-size: 10px;
}
.message {
  color: #000;
  font-family: "Freight Big", "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 100%;
  text-align: left;
  text-transform: uppercase;
}
.message-bold {
  font-weight: 600 !important;
}
.current {
  color: #000;
  font-weight: 700;
}
.error {
  color: #ff0022 !important;
}
.gray,
.grey {
  color: #828282 !important;
}
.secondary {
  color: #e8e828 !important;
}
.white {
  color: #ffffff !important;
}
.current {
  color: #000;
  font-weight: 700;
}
.red-highlighter {
  background-color: #ff0022;
  border-radius: 0;
  border-width: 10px;
  color: white;
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  display: inline-block;
  font-size: 1.05rem;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  text-transform: uppercase;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.yellow-highlighter {
  background-color: #e8e828;
  border-radius: 0;
  border-width: 10px;
  color: #000;
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  display: inline-block;
  font-size: 1.05rem;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  text-transform: uppercase;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
#headline-responsive-container,
#button-responsive-container {
  height: 8rem;
}
@media (max-width: 1024px) {
  #headline-responsive-container,
  #button-responsive-container {
    height: 6rem;
  }
}
@media (max-width: 768px) {
  #headline-responsive-container,
  #button-responsive-container {
    height: 4rem;
  }
}
.headline-container-center,
.button-container-center {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex !important;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.headline-container-left-center,
.button-container-left-center {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.headline-container-left-top,
.button-container-left-top {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex !important;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}
.headline-container-left-bottom,
.button-container-left-bottom {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex !important;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: hidden;
}
.headline-container-right-center,
.button-container-right-center {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}
.headline-container-right-top,
.button-container-right-top {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex !important;
  align-items: flex-start;
  justify-content: flex-end;
  overflow: hidden;
}
.headline-container-right-bottom,
.button-container-right-bottom {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex !important;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
}
/* =========================================
   BASE BUTTON STYLES
========================================= */
.button, 
button, 
.button-small, 
button-small, 
.button-outline, 
.button-outline-white, 
.button-outline-small, 
button-outline-small, 
.button-outline-small-white, 
button-outline-small-white {
  transition: color 170ms ease-in-out, background-color 170ms ease-in-out, all 0.2s;
  background-color: #000;
  border-radius: 0;
  border: 2px solid #000;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 170ms ease-in-out, background-color 170ms ease-in-out, all 0.2s;
  -moz-transition: color 170ms ease-in-out, background-color 170ms ease-in-out, all 0.2s;
  -ms-transition: color 170ms ease-in-out, background-color 170ms ease-in-out, all 0.2s;
  -o-transition: color 170ms ease-in-out, background-color 170ms ease-in-out, all 0.2s;
}
/* =========================================
   BUTTON-SPECIFIC SIZES
========================================= */
.button, 
button, 
.button-outline, 
.button-outline-white {
  padding: 3% 6%;
  font-size: 1rem;
}
.button-small, 
button-small, 
.button-outline-small, 
button-outline-small, 
.button-outline-small-white, 
button-outline-small-white {
  padding: 2% 3%;
  font-size: 0.75rem;
  border: 2px solid #000;
}
/* =========================================
   OUTLINE BUTTON STYLES
========================================= */
.button-outline, 
.button-outline-small, 
.button-outline-small-white {
  background-color: transparent;
  color: #000;
}

.button-outline-white, 
.button-outline-small-white {
  border-color: #fff;
  color: #fff;
}
/* =========================================
   HOVER STATES
========================================= */
button:hover, 
.button:hover, 
.button-outline:hover, 
.button-small:hover, 
.button-outline-small:hover, 
.button-outline-white:hover, 
.button-outline-small-white:hover {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  filter: brightness(110%);
  transform-origin: 50%;
}
/* =========================================
   ACTIVE STATES
========================================= */
button:active, 
.button:active, 
.button-outline:active, 
.button-small:active, 
.button-outline-small:active, 
.button-outline-white:active, 
.button-outline-small-white:active {
  border-color: #000;
  color: #000;
  filter: brightness(100%);
}

.button-outline-white:active, 
.button-outline-small-white:active {
  background-color: #fff;
  border-color: #000;
  color: #000;
}
/* =========================================
   ARROW STYLES
========================================= */

.arrow::after, 
.arrow-white::after {
  content: "➔";
  font-size: 0.75rem;
  padding-left: 25px;
  margin-left: 25px;
}
.arrow-small::after, 
.arrow-small-white::after {
  content: "➔";
  font-size: 0.45rem;
  padding-left: 10px;
  margin-left: 10px;
}
.arrow-small::after, 
.arrow::after {
  color: #000;
  border-left: 2px solid #000;
  transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
  -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
  -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
  -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
  -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
}

.arrow-small-white::after,
.arrow-white::after {
  color: #fff;
  border-left: 2px solid #fff;
  transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
  -webkit-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
  -moz-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
  -ms-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
  -o-transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
}
/* =========================================
   LINK STYLES
======================================== */
.link {
  border: none;
  border-color: transparent;
  color: #000;
  cursor: pointer;
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.33rem;
  font-weight: 500;
  line-height: 100%;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s;
}
.link:hover {
  border: none;
  border-color: transparent;
  color: #682848;
  font-weight: 500;
}
.link:active {
  border: none;
  border-color: transparent;
  color: #682848;
  filter: brightness(120%);
}
.link-save {
  border-color: transparent;
  border: none;
  border-color: transparent;
  color: #682848;
  cursor: pointer;
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.33rem;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  text-decoration: none;
  transition: all 0.2s;
}
.form-group action + select,
.form-group action + textarea .form-group reset + input,
.form-group label + input,
.form-group label + select,
.form-group label + textarea .form-group action + input,
.form-group reset + select,
.form-group reset + textarea {
  display: block;
}
fieldset {
  border: 1px solid #ebebeb;
  margin: 0;
}
input:is([type="button"], [type="submit"], [type="reset"]):active {
  transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
  background-color: #000;
  border-radius: 0;
  border: 3px solid #000;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1;
  padding: 1rem 1.75rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
  transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
}
input[type="file"]::file-selector-button:active,
button:active {
  transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
  background-color: #000;
  border-radius: 0;
  border: 3px solid #000;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1;
  padding: 1rem 1.75rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
  transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
}
input[type="action"],
select[multiple],
select[size],
textarea {
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.5rem;
  font-weight: 700;
  margin: 0;
  outline: 0;
  padding: 5px 15px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0;
  -ms-border-radius: 0px;
  -o-border-radius: 0;
}
input[type="action"] {
  color: #fff;
  cursor: pointer;
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.5rem;
  font-weight: 700;
  line-height: 100%;
  padding: 5px 15px;
  text-align: left;
  text-decoration: none;
  transition: all 0.2s;
}
input[type="action"]:focus,
input[type="action"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
select[multiple]:focus,
select[size]:focus,
textarea:hover {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  background-color: transparent;
  color: #000;
  transform-origin: 50%;
}
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select[multiple],
select[size],
textarea {
  background: transparent;
  border: 1px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #000;
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0.25rem 0;
  padding: 1rem 1.25rem;
  outline: 0;
}
input:focus,
textarea:focus,
select:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  height: 25px;
}
input[type="date"]:focus,
input[type="date"]:hover,
input[type="datetime-local"]:focus,
input[type="datetime-local"]:hover,
input[type="datetime"]:focus,
input[type="datetime"]:hover,
input[type="email"]:focus,
input[type="email"]:hover,
input[type="month"]:focus,
input[type="month"]:hover,
input[type="number"]:focus,
input[type="number"]:hover,
input[type="password"]:focus,
input[type="password"]:hover,
input[type="search"]:focus,
input[type="search"]:hover,
input[type="tel"]:focus,
input[type="tel"]:hover,
input[type="text"]:focus,
input[type="text"]:hover,
input[type="time"]:focus,
input[type="time"]:hover,
input[type="url"]:focus,
input[type="url"]:hover,
input[type="week"]:focus,
input[type="week"]:hover,
select[multiple]:focus,
select[multiple]:hover,
select[size]:focus,
textarea:focus,
textarea:hover {
  border: 1px solid #828282;
}
select[multiple],
select[size] {
  height: auto;
  padding: 0;
}
select[multiple]:disabled,
select[size]:disabled {
  background: #fff;
  opacity: 1;
}
.form-select {
  background: transparent;
  border: 1px solid #000;
  border-radius: 0; 
  box-sizing: border-box;
  color: #000;
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0.25rem 0; 
  padding: 1rem 1.25rem;
  outline: 0;
}
textarea {
  resize: vertical;
}
.space {
  height: 2rem;
}
.line {
  border-bottom: 1px solid #e8e8e8;
}
.white-text {
  color: #ffffff;
}
.typebot-container {
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  white-space: pre-wrap;
  text-wrap: pretty;
}
.block {
  display: block;
}
.d-flex {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.inline {
  display: flex;
  align-content: center;
  justify-content: center;
}
.center-text {
  text-align: center;
}
.left-text {
  text-align: left;
}
.right-text {
  text-align: right;
}
.bottom-left-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px; 
}
.margin-top-none {
  margin-top: var(--margin-top-none);
}
.margin-top-s {
  margin-top: var(--margin-top-s);
}
.margin-top-m {
  margin-top: var(--margin-top-m);
}
.margin-top-l {
  margin-top: var(--margin-top-l);
}
.margin-top-xl {
  margin-top: var(--margin-top-xl);
}
.margin-top-xxl {
  margin-top: var(--margin-top-xxl);
}
/** End margin Top */
/** Margin Bottom */
.margin-bottom-none {
  margin-bottom: var(--margin-bottom-none);
}
.margin-bottom-s {
  margin-bottom: var(--margin-bottom-s);
}
.margin-bottom-m {
  margin-bottom: var(--margin-bottom-m);
}
.margin-bottom-l {
  margin-bottom: var(--margin-bottom-l);
}
.margin-bottom-xl {
  margin-bottom: var(--margin-bottom-xl);
}
.margin-bottom-xxl {
  margin-bottom: var(--margin-bottom-xxl);
}
/** End margin Bottom */
/** Margin Left */
.margin-left-none {
  margin-left: var(--margin-left-none);
}
.margin-left-s {
  margin-left: var(--margin-left-s);
}
.margin-left-m {
  margin-left: var(--margin-left-m);
}
.margin-left-l {
  margin-left: var(--margin-left-l);
}
.margin-left-xl {
  margin-left: var(--margin-left-xl);
}
.margin-left-xxl {
  margin-left: var(--margin-left-xxl);
}
/** End margin Left */
/** Margin Right */
.margin-right-none {
  margin-right: var(--margin-right-none);
}
.margin-right-s {
  margin-right: var(--margin-right-s);
}
.margin-right-m {
  margin-right: var(--margin-right-m);
}
.margin-right-l {
  margin-right: var(--margin-right-l);
}
.margin-right-xl {
  margin-right: var(--margin-right-xl);
}
.margin-right-xxl {
  margin-right: var(--margin-right-xxl);
}
/** End margin Right */
/** Margin All */
.margin-all-none {
  margin: var(--margin-all-none);
}
.margin-all-s {
  margin: var(--margin-all-s);
}
.margin-all-m {
  margin: var(--margin-all-m);
}
.margin-all-l {
  margin: var(--margin-all-l);
}
.margin-all-xl {
  margin: var(--margin-all-xl);
}
.margin-all-xxl {
  margin: var(--margin-all-xxl);
}
/** End margin All */
/** Padding Top */
.padding-top-none {
  padding-top: var(--padding-top-none);
}
.padding-top-s {
  padding-top: var(--padding-top-s);
}
.padding-top-m {
  padding-top: var(--padding-top-m);
}
.padding-top-l {
  padding-top: var(--padding-top-l);
}
.padding-top-xl {
  padding-top: var(--padding-top-xl);
}
.padding-top-xxl {
  padding-top: var(--padding-top-xxl);
}
/** End Padding Top */
/** Padding Bottom */
.padding-bottom-none {
  padding-bottom: var(--padding-bottom-none);
}
.padding-bottom-s {
  padding-bottom: var(--padding-bottom-s);
}
.padding-bottom-m {
  padding-bottom: var(--padding-bottom-m);
}
.padding-bottom-l {
  padding-bottom: var(--padding-bottom-l);
}
.padding-bottom-xl {
  padding-bottom: var(--padding-bottom-xl);
}
.padding-bottom-xxl {
  padding-bottom: var(--padding-bottom-xxl);
}
/** End Padding Bottom */
/** Padding Left */
.padding-left-none {
  padding-left: var(--padding-left-none);
}
.padding-left-s {
  padding-left: var(--padding-left-s);
}
.padding-left-m {
  padding-left: var(--padding-left-m);
}
.padding-left-l {
  padding-left: var(--padding-left-l);
}
.padding-left-xl {
  padding-left: var(--padding-left-xl);
}
.padding-left-xxl {
  padding-left: var(--padding-left-xxl);
}
/** End Padding Left */
/** Padding Right */
.padding-right-none {
  padding-right: var(--padding-right-none);
}
.padding-right-s {
  padding-right: var(--padding-right-s);
}
.padding-right-m {
  padding-right: var(--padding-right-m);
}
.padding-right-l {
  padding-right: var(--padding-right-l);
}
.padding-right-xl {
  padding-right: var(--padding-right-xl);
}
.padding-right-xxl {
  padding-right: var(--padding-right-xxl);
}
/** End Padding Right */
/** Padding All */
.padding-all-none {
  padding: var(--padding-all-none);
}
.padding-all-s {
  padding: var(--padding-all-s);
}
.padding-all-m {
  padding: var(--padding-all-m);
}
.padding-all-l {
  padding: var(--padding-all-l);
}
.padding-all-xl {
  padding: var(--padding-all-xl);
}
.padding-all-xxl {
  padding: var(--padding-all-xxl);
}
/** End Padding All */
.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.thumbnail-container {
  position: relative;
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-family: Arial, sans-serif;
}
.thumbnail {
  position: relative;
}
.thumbnail-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.thumbnail-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.819);
  color: #fff;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0px;
  transition: opacity 0.3s ease;
}
.thumbnail-container:hover .thumbnail-info {
  opacity: 1;
}
.thumbnail-container:hover .thumbnail-image {
  transform: scale(1.05);
}
.thumbnail-info h3 {
  margin: 0 0 10px;
  font-size: 16px;
}
.thumbnail-info p {
  margin: 0;
  text-align: center;
}
.thumbnail-header {
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  text-rendering: optimizeLegibility;
  color: white;
  font-size: 2rem !important;
  line-height: calc(var(--vh-factor) * 1vh + 0.9em);
  text-wrap: pretty;
  scrollbar-width: none;
  display: block;
}
.thumbnail-text {
  font-family: "Freight Sans", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  text-wrap: pretty;
  margin: 0;
  padding: 0.5rem 0;
  color: white !important;
  font-size: 2rem !important;
}
