/*
<!-- 
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/aparium/css-style/google-sheets.css">
<link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/aparium/css-style/main/google-sheets.css">

-->
*/


/**  mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
|    AHG |   APARIUM
|    mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
*/



/* freight-big-book */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'freight-big';
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-book.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-book.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-book.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-book.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-book.ttf') format('truetype'),
  }
  
  /* freight-big-medium */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'freight-big';
    font-style: normal;
    font-stretch: normal;
    font-weight: 500;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-medium.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-medium.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-medium.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-medium.ttf') format('truetype'),
  }
  
  /* freight-big-semibold */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'freight-big';
    font-style: normal;
    font-stretch: normal;
    font-weight: 600;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-semibold.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-semibold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-semibold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-semibold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-semibold.ttf') format('truetype'),
  }
  
  /* freight-big-bold */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'freight-big';
    font-style: normal;
    font-stretch: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-bold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-bold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-bold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-bold.ttf') format('truetype'),
  }
  
  /* freight-big-bold */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'freight-big';
    font-style: normal;
    font-stretch: normal;
    font-weight: 900;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-black.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-black.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-black.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-black.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-big/freight-big-black.ttf') format('truetype'),
  }
  
  /* freight-sans-light */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'freight-sans';
    font-style: normal;
    font-stretch: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-light.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-light.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-light.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-light.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-light.ttf') format('truetype'),
  }
  
  /* freight-sans-book */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'freight-sans';
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-book.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-book.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-book.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-book.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-book.ttf') format('truetype'),
  }
  
  /* freight-sans-medium */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'freight-sans';
    font-style: normal;
    font-stretch: normal;
    font-weight: 500;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-medium.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-medium.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-medium.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-medium.ttf') format('truetype'),
  }
  
  /* freight-sans-semibold */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'freight-sans';
    font-style: normal;
    font-stretch: normal;
    font-weight: 600;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-semibold.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-semibold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-semibold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-semibold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-semibold.ttf') format('truetype'),
  }
  
  /* freight-sans-bold */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'freight-sans';
    font-style: normal;
    font-stretch: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-bold.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-bold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-bold.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/freight-sans/freight-sans-bold.ttf') format('truetype'),
  }
  
  
  
  /* open-sans-regular */
  /* open-sans-300 */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'open-sans';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.eot');
    /* IE9 Compat Modes */
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.woff2') format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.woff') format('woff'),
      /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.ttf') format('truetype'),
      /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-300.svg#OpenSans') format('svg');
    /* Legacy iOS */
  }
  
  /* open-sans-regular */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'open-sans';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.eot');
    /* IE9 Compat Modes */
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.woff2') format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.woff') format('woff'),
      /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.ttf') format('truetype'),
      /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-regular.svg#OpenSans') format('svg');
    /* Legacy iOS */
  }
  
  /* open-sans-500 */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'open-sans';
    font-style: normal;
    font-weight: 500;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.eot');
    /* IE9 Compat Modes */
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.woff2') format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.woff') format('woff'),
      /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.ttf') format('truetype'),
      /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-500.svg#OpenSans') format('svg');
    /* Legacy iOS */
  }
  
  /* open-sans-600 */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'open-sans';
    font-style: normal;
    font-weight: 600;
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.eot');
    /* IE9 Compat Modes */
    src: url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.woff2') format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.woff') format('woff'),
      /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.ttf') format('truetype'),
      /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url('https://cdn.jsdelivr.net/gh/aparium/fonts/open-sans/open-sans-600.svg#OpenSans') format('svg');
    /* Legacy iOS */
  }



/* CONTAINERS */

p,
body {
    font-family: 'freight-sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
}


.block {
    display: block;
}

.inline {
    display: inline-block;
}

.inline+.inline {
    margin-left: 12px;
}

.top,
.top-left {
    top: 0;
    position: absolute;
}

.top-right {
    top: 0;
    position: absolute;
    right: 0;
}

.margin-top-s {
    padding-top: .75rem;
    
}

.margin-top-m {
    padding-top: 1rem;
}

.margin-top-l {
    padding-top: 2rem;
    
}

.margin-top-xl {
    padding-top: 3rem;
    
}

.margin-top-xxl {
    padding-top: 4rem;
    
}

.margin-bottom-s {
    padding-bottom: .75rem;
}

.margin-bottom-m {
    padding-bottom: 1rem;
}

.margin-bottom-l {
    padding-bottom: 2rem;
}

.margin-bottom-xl {
    padding-bottom: 3rem;
}

.margin-bottom-xxl {
    padding-bottom: 4rem;
}

.bottom,
.bottom-left,
.button-bar {
    bottom: 0;
    position: absolute;
}

.bottom-right,
.button-bar-right {
    bottom: 0;
    position: absolute;
    right: 0;
}


/* TEXT */

h1 {
    color: #000;
    font-family: 'freight-big-bold', 'playfair display', 'Georgia', 'Times New Roman', serif;
    font-size: 5rem;
    font-weight: 700;
    line-height: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}

h2 {
    color: #000;
    font-family: 'freight-big-bold', 'playfair display', 'Georgia', 'Times New Roman', serif;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}


h3 {
    color: #000;
    font-family: 'freight-big-bold', 'playfair display', 'Georgia', 'Times New Roman', serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}

h4 {
    color: #000;
    font-family: 'freight-big', 'playfair display', 'Georgia', 'Times New Roman', serif;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}

h5 {
    color: #000;
    font-family: 'freight-big', 'playfair display', 'Georgia', 'Times New Roman', serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}

h6 {
    color: #000;
    font-family: 'freight-big', 'playfair display', 'Georgia', 'Times New Roman', serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 100%;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    text-align: left;
    text-transform: uppercase;
}

h7 {
    color: #000;
    font-family: 'freight-big', 'playfair display', 'Georgia', 'Times New Roman', serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    text-transform: uppercase;
}

h8 {
    color: #000;
    font-family: 'freight-big', 'playfair display', 'Georgia', 'Times New Roman', serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    text-transform: uppercase;
}

body {
    font-family: 'freight-big-bold', 'playfair display', 'Georgia', 'Times New Roman', serif;
}


message {
    color: #000;
    font-family: 'freight-big-bold', 'playfair display', 'Georgia', 'Times New Roman', serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    text-transform: uppercase;
}

message.bold {
    color: #828282;
    font-family: 'freight-sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}



r1 {
    color: #828282;
    font-family: 'freight-sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}

r2 {
    color: #828282;
    font-family: 'freight-sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}

.logo {
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 100%;
    margin: 0px;
}


a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.current {
    color: #000;
    font-weight: 700;
}

.error {
    color: #FF0022;
}

.gray,
.grey {
    color: #828282;
}

.secondary,
.small {
    color: #E8E828;
    font: 14px/16px 'Khand', sans-serif;
    display: inline-block;
}


/* BUTTONS */

button,
.button {
    font-family: freight-sans, sans-serif !important;
    font-style: normal !important;
    font-weight: 500;
    text-transform: uppercase !important;
    letter-spacing: .1em !important;
    border: 2px solid #000 !important;
    border-radius: 0 !important;
    background: transparent !important;
    color: #000 !important;
    transition: .1s background-color linear, .1s color linear !important;
    -webkit-transition: color 170ms ease-in-out, background-color 170ms ease-in-out !important;
    -moz-transition: color 170ms ease-in-out, background-color 170ms ease-in-out !important;
    -ms-transition: color 170ms ease-in-out, background-color 170ms ease-in-out !important;
    -o-transition: color 170ms ease-in-out, background-color 170ms ease-in-out !important;
    transition: color 170ms ease-in-out, background-color 170ms ease-in-out !important;
}

.button.outline {
    background-color: #000;
    border-radius: 0 !important;
    border: 5px solid #000 !important;
    color: #fff;
}

.button:hover {
     -webkit-backface-visibility: visible;
    backface-visibility: visible;
    background-color: #000;
    border-radius: 0 !important;
    color: #fff;
    border: 5px solid #000 !important;
    filter: brightness(110%);
    text-decoration: none;
    transform-origin: 50%;
}

.button.outline:hover {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    background-color: 000;
    color: #fff;
    border: 5px solid #000 !important;
    filter: brightness(110%);
    text-decoration: none;
    transform-origin: 50%;
}

.button:active {
    border: 3px solid #f8f8f8;
    border-color: #f8f8f8;
    border-width: 3px;
    color: #e6e6e6;
    filter: brightness(110%);
}

.button.outline:active {
    border: 3px solid white;
    border-color: white;
    border-width: 3px;
    color: white;
    filter: brightness(100%);
}

.link {
    border: none;
    border-color: transparent;
    color: #682848;
    cursor: pointer;
    font-family: 'freight-sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.33rem;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    text-decoration: none;
    transition: all .2s;
}

.link:hover {
    border: none;
    border-color: transparent;
    color: #220044;
    font-weight: 500;
}

.link:active {
    border: none;
    border-color: transparent;
    color: #220044;
    filter: brightness(120%);
}


.link-save {
    border-color: transparent;
    border: none;
    border-color: transparent;
    color: #220044;
    cursor: pointer;
    font-family: 'freight-sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.33rem;
    font-weight: 700;
    line-height: 100%;
    text-align: left;
    text-decoration: none;
    transition: all .2s;
}


/* OTHER FORM ELEMENTS */

.form-group label+input,
.form-group label+select,
.form-group label+textarea 
.form-group action+input,
.form-group action+select,
.form-group action+textarea
.form-group reset+input,
.form-group reset+select,
.form-group reset+textarea{
    display: block;
}

fieldset {
    border: 1px solid #ebebeb;
    margin: 0;
}

input[type="action"],
select[multiple],
select[size],
textarea {
    border-radius: 0px;
    box-sizing: border-box;
    color: #fff;
    font-family: 'freight-sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: .5rem;
    font-weight: 700;
    margin: 0;
    outline: 0;
    padding: 5px 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

input[type="action"] {
    color: white;
    cursor: pointer;
    font-family: 'freight-sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: .5rem;
    font-weight: 700;    
    line-height: 100%;
    padding: 5px 15px;	
    text-align: left;
    text-decoration: none;
    transition: all .2s;
}

input[type="action"]:hover,
input[type="reset"]:hover,
input[type="action"]:focus,
input[type="reset"]:focus,
select[multiple]:focus,
select[size]:focus,
textarea:hover {
     -webkit-backface-visibility: visible;
    backface-visibility: visible;
    background-color: transparent;
    color: #000;
    transform-origin: 50%;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select[multiple],
select[size],
textarea {
    background: #transparent;
    border: 2px solid #000;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    font-family: 'freight-sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    outline: 0;
    padding: 4px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    height: 25px;
}

input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="month"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="week"]:hover,
select[multiple]:hover,
select[size]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select[multiple]:focus,
select[size]:focus,
textarea:hover,
textarea:focus {
    border: 2px solid #1C447F;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
}

select[multiple],
select[size] {
    height: auto;
    padding: 0;
}

select[multiple]:disabled select[size]: disabled {
    background: #fff;
    opacity: 1;
}

textarea {
    resize: vertical;
}

.space {
    height: 30px;
    
}

.line {
    border-bottom: 2px solid #000;
}