<!DOCTYPE html>
<html lang="en">

<head>
    <title>Style Sheet</title>

    <meta charset="UTF-8">
    <base target="_blank">
</head>

<body style="padding:5rem">

    <div>
        <h1>
            h1 Headline
        </h1>
        <br>
        <h1 class="titlecase">
            h1 Titlecase
        </h1>
    </div>

    <div>
        <h2>
            h2 Headline
        </h2>
        <br>
        <h2 class="titlecase">
            h2 Titlecase
        </h2>
    </div>

    <div>
        <h3>
            h3 Headline
        </h3>
        <br>
        <h3 class="titlecase">
            h3 Titlecase
        </h3>
    </div>

    <div>
        <h4>
            h4 Headline
        </h4>
        <br>
        <h4 class="titlecase">
            h4 Titlecase
        </h4>
    </div>

    <div>
        <h5>
            h5 Headline
        </h5>
        <br>
        <h5 class="titlecase">
            h5 Titlecase
        </h5>
    </div>

    <div>
        <h6>
            h6 Headline
        </h6>
        <br>
        <h6 class="titlecase">
            h6 Titlecase
        </h6>
    </div>


    <div class="h7">
        h7 Headline
    </div>
    <div class="h7 titlecase">
        h7 Titlecase
    </div>

    <div class="h8">
        h8 Headline
    </div>
    <div class="h8 titlecase">
        h8 Titlecase
    </div>


    <div class="inline">
        <div class="center">
            <a class="button outline" style="min-width: 3rem;" href="https://instagram.com/aparium">
                Follow Us
            </a>
        </div>

        <div class="space">
        </div>


        <div class="space">
        </div>
    </div>


    <div class="left">
        <div>
            <a class="button outline" style="min-width: 3rem;" href="https://instagram.com/aparium">
                Button Left
            </a>
        </div>

        <div class="space">
        </div>

        <div class="space">
        </div>

    </div>

    <div class="inline">
        <div class="center">
            <a class="button" style="min-width: 3rem;" href="https://instagram.com/aparium">
                Follow Us
            </a>
        </div>

        <div class="space">
        </div>


        <div class="space">
        </div>
    </div>


    <div class="left">
        <div>
            <a class="button" style="min-width: 3rem;" href="https://instagram.com/aparium">
                Button Left
            </a>
        </div>

        <div class="space">
        </div>

        <div class="space">
        </div>

    </div>


</body>

</html>