<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Headline Embed</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/aparium/css-style/ahg-thumbnail-preview.css" />
    <meta charset="UTF-8" />
    <base target="_blank" />
  </head>
  <body>
    <div class="thumbnail-container">
      <a
        href="https://drive.google.com/drive/folders/1Re4xy607DyQiRj0kufPxKI95zjWQHPcm"
        target="_blank">
        <div class="thumbnail">
          <img
            src="https://res.cloudinary.com/drdgkdg7m/image/upload/v1731072907/rate-loading-instructions_jgddco.jpg"
            alt="Thumbnail"
            class="thumbnail-image" />
          <div class="thumbnail-info">
            <h3
              class="thumbnail-header"
              white>
              RATE LOADING INSTRUCTIONS
            </h3>
            <p class="thumbnail-text">
              Get the latest production report for your property.﻿
            </p>
          </div>
        </div>
      </a>
    </div>
  </body>
</html>
