<hr style="background-color: #aaaaaa; border: 0px; height: 3px;" />
<br />
<br />
<p><span style="font-size: medium;">
  Below please find this week's updates for October 17, 2024 with key information and attachments to
  review and share with your teams.</span></p>
<p><br /></p><p>
  </p><h4 style="text-align: left;"><a href="https://populusdenver.com/" style="font-weight: bold;">Populus</a>&nbsp;IS OFFICIALLY&nbsp;OPEN</h4>Congratulations to
  <a href="mailto:gprine@populusdenver.com">@George Prine</a>,
  <a href="mailto:jjohnson@populusdenver.com">@Jared Johnson</a>&nbsp;and
  <a href="mailto:emalhotra@heathmanhotel.com">@Eshaan Malhotra</a>&nbsp;and team. The hotel is stunning, please follow the respective social handles below to get a glimpse of how this new opening is unfolding and going to crush it!<p></p><div><br /></div><div><a href="https://www.instagram.com/populus_denver/?igsh=MzRlODBiNWFlZA%3D%3D">Populus @populus_denver</a><br /><a href="https://www.instagram.com/stellarjay_denver/?igsh=MzRlODBiNWFlZA%3D%3D">Stellarjay @stellarjay_denver</a><br /><a href="https://www.instagram.com/pasque_denver/?igsh=MzRlODBiNWFlZA%3D%3D">Pasque @pasque_denver</a></div><p><br /></p><p>Thank you to our Aparium "behind the scenes team" for all your hard work in
  preparation for this momentous opening! All the system builds, branding,
  photography oversight, website builds + rebuilds, onboarding, recruitment,
  creative, POB's, the list goes on… truly grateful to have this fabulous team
  who made it all happen.</p>
<br />
<br />

<div class="preview-center">
<div class="preview-card">
  <img class="preview-image" src="https://populusdenver.com/app/uploads/2024/11/Populus-Mountain-Studio-Suite-1-1800x1201.jpg" alt="Thumbnail">
  <div class="preview-info">
    <h3 class="preview-title">Populus Denver</h3>
    <p class="preview-description">Experience luxury at Populus Hotel, your premier choice among hotels in Denver, Colorado. Book your stay today and enjoy breathtaking views & unmatched comfort!</p>
    <a class="preview-link" href="#" target="_blank">Visit Site</a>
  </div>
</div>
</div>


<br />
<br />
<h3 style="text-align: left;">Sales</h3>
<ul type="disc">
  <li>
    <strong>Congratulations to our top bookers this week: Jennifer @ Haya booked
      $259K (wow!!), Sam @ Hewing booked $70K and Andrea @ Heron booked $59K!
    </strong>
  </li>
  <li>
    <strong>Amex Hotel collection</strong>– please review attached and ensure
    your hotels information this is completed in the spreadsheet linked below&nbsp;by Monday, October 21, thanks. Please do not submit an application on your
    own, we will guide this process and initiate through Innroads relationship.
  <br /><br /><a href="https://docs.google.com/spreadsheets/d/1ktS2Lhf3gDPwSqOPBk7kAcU-N9WNjHBOwqwHefC-3g4/edit?usp=sharing">Spreadshee Link</a><br /></li>
  <li>
    <strong>Kalibri costs</strong>Good news
    <a href="mailto:garystringham@aparium.com">@Gary Stringham</a>was able to work on the data integration internally, this will save the new hotels transitioning to Kalibri $1,500 in set up fees. Please see pricing attached.
  </li>
  <li>
    <strong>PLEASE NOTE</strong><br />We have our Delphi Admin Joyce through the end of December so it's very
    important if you have ANYTHING in Delphi to be updated, please let me know
    so we can set up a time with Joyce. This could include menus, merge
    documents, clean up, etc.
  </li>
  <li>
    Reminder that all hotel creative documents including holiday flyers, group
    promotion flyers, etc. should be sent through the creative portal with at
    least a 2-week turnaround. Please plan ahead and use the link attached. Save this link below for any future creative requests.
  <br /><br /><a href="https://form.asana.com/?k=UBp63NduYVE3Uft8wBaKow&amp;d=1130907604971469">Creative Requests - Form by Asana</a></li>
  <li>
    <strong>Prospecting tip:</strong>When prospecting, its essential to focus on
    your value proposition. Rather than pushing your product or serv ice,
    emphasize how you can add value to the prospect's business. Consider the
    problems you can solve for them, how you can contribute to their growth and
    ways to simplify their life.....what is the unique value you and your hotel
    bring to them!!!</li></ul>
<br />
<h3 style="text-align: left;">Revenue</h3>
<ul type="disc">
  <li>
    <b>HOPPER CONNECTIVITY UPDATE<br /></b>We have completed the
    connectivity setup for all hotels with Hopper. Currently, they are in the
    process of verifying the room types and taxes for each hotel with we expect
    to be completed by Friday October 18. Once this validation is finished, the
    hotels will be made live on their site.
  </li>
  <li>
    <strong>AMADEUS HOSPITALITY MARKET INSIGHT WORLDWIDE SEPTEMBER 2024</strong>
    Take a look at the latest Market Insight Report from September. This report
    utilizes Amadeus' Demand360® forward-looking occupancy data to provide an
    overview of global hotel booking and occupancy trends.
    <br /><br /><a href="https://drive.google.com/open?id=1-F9N75Pfd2tssQgxRnqUySI_V2e7BClz">VIEW REPORT HERE</a>
  </li>
</ul>
<p></p><h3 style="text-align: left;"><br /></h3><h3 style="text-align: left;"><br /><strong>Marketing/Digital/PR/Lifestyle</strong></h3><h4 style="text-align: left;"><strong>2025 Budget: Marketing Plans + Guidelines</strong></h4><p></p>
<ul type="disc">
  <li>2025 MARKETING PLANS IN BOX<br />Thank you for the feedback in the budget sessions over the past two
      weeks. Making adjustments to your Integrated Marketing Strategy by October
      21<sup>st</sup>.<br /><br /><a href="https://apariumhotelgroup.box.com/s/4vwgcrtbabz2fhini2j5rwfdow04p9ww">Review Your Marketing Plan</a><br /></li><li><strong>MARKETING PLANS<br /></strong>The plans include customized Paid
      Digital Plan &amp; strategy; customized PR plans; Organic Social and Email
      Marketing plans.</li><li><strong>CYBER MONDAY CAMPAIGN&nbsp;</strong>– IN DEVELOPMENT<br />Confirmed all offer
    details - 'Save up to 40% through 12/30/2025. Digital advertising is planned
    to flight from November 14 – December 3, 2024. Booking window: Nov 25 – Dec
    3, 2024. Recommended stay window November 28, 2024 – December 30,
    2025.&nbsp;
  </li>
  <li>
    <b>FALL CAMPAIGN<br /></b>Continuing with strong results across most
    hotels. Second wave of email campaigns set for the week of 10/21/24.
  </li>
  <li>
    <strong>Q3 QBRs&nbsp;</strong>WRAPPING UP<br />Scheduled from 10/07 - 10/25/24 will
    include Summer campaign results; initial Fall Results + recap of all paid,
    owned, experience and earned channels.
  </li>
  <li>
    <strong>Need a Creative Asset? <br /></strong>Creative Services support? WE ARE
    HERE FOR YOUR TEAMS! It's so easy – just submit a creative brief when you
    click this below. If you have any questions or feedback, please reach out to Tyler.
  <br /><br /><a href="https://form.asana.com/?k=UBp63NduYVE3Uft8wBaKow&amp;d=1130907604971469">Creative Request Form</a>&nbsp;</li></ul>
<br />
<h3 style="text-align: left;">STR Performance</h3>
<p>
  A better week with 8 hotels finishing in the top quadrants. Haya, Hu, Jasper
  and Surety finished ahead and gaining with solid performance, Special shout
  out to Hu for winning the week with the large group base far outpacing the set
  in occupancy and again TEAM HAYA, winning the week with a 116.4 while enduring
  Hurricane Milton last week, Kudo's to you team Haya! Opportunity hotels are
  Heathman, Clayton and DFH.
</p>
<p>
  <a href="https://blogger.googleusercontent.com/img/a/AVvXsEgUro1rEiU0gRp9jura2Cmg1mRg-ezi3k6xf6PJBRTPOf-pygndjHLtCjzF-8MbFwxGf2n-9LlHVE9FYHeCeHFbKDUw3tQ-6WjhC8SUrkzUxzm0t_OKZPVSz8SDjz2eyKKT7_hVj7i56jWUNYLQbAu_ciKXWy-MmNQggbOnD93-OTeFuLe__36G4a1ANUQ">
    <img alt="" border="0" src="https://blogger.googleusercontent.com/img/a/AVvXsEgUro1rEiU0gRp9jura2Cmg1mRg-ezi3k6xf6PJBRTPOf-pygndjHLtCjzF-8MbFwxGf2n-9LlHVE9FYHeCeHFbKDUw3tQ-6WjhC8SUrkzUxzm0t_OKZPVSz8SDjz2eyKKT7_hVj7i56jWUNYLQbAu_ciKXWy-MmNQggbOnD93-OTeFuLe__36G4a1ANUQ=s320" /></a>
</p>
<br />
<h4 style="text-align: left;"><b>Get this week's attachment's below</b>&nbsp;</h4><div><a href="https://drive.google.com/drive/folders/1717ieckAzByX0qk8GXJjldVAm8ukEjhu" target="_blank">DOWNLOAD</a>


</div>