<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/aparium/css-style/ahg-google-sites.css">
  <meta charset="UTF-8">
  <base target="_blank">
</head>
<body>
  <div class="left" style="width: 30rem">
    <a class="button-outline-white arrow-white"
      href="https://drive.google.com/open?id=1p4yZYIOmLefDn_IQ-JwDOlK-CvOHu1X1&usp=drive_fs">
      CBRE
    </a>
  </div>
</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>h1 Embed</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/aparium/css-style/ahg-google-sites.css">
  <meta charset="UTF-8">
  <base target="_blank">
</head>
<body style="overflow: hidden;">
  <div>
    <div style="justify-content: flex-start; text-align: left bottom: 0 left: 0">
     <h3 class="s3 titlecase white">
     Get the List.
     </h3>
    </div>
  </div>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
<title> button</title>
</head>
<div>
<body style="overflow: hidden; background-color: #000">
  <div class="headline-container">
  <div class="bottom-left-text">
     <h3 class="s3 titlecase white">
     Get the List.
     </h3>
    </div>
  </div>
 </body> 
</html>


<body style="overflow: hidden;">
  <div class="headline-container">
  <div class="bottom-left-text">
    <h3 class="s3 titlecase white">Get the List.</h3>
  </div>
</div>
</body>
<style>
  .container {
    /* Set height and width to your desired container size */
    height: 400px;
    width: 600px;
  }
.headline-container {
  position: relative;
  padding-bottom: 56.25%; /* Aspect ratio for responsive video */
  width: 100%;
}

.headline-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

  .bottom-left-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px; /* Adjust padding as needed */
  }
</style>

